In [18]:
import io
import os
import sys
import requests
import json
from urllib.request import urlretrieve
import zipfile
import pandas as pd

In [16]:
raw_data_directory_path = os.path.join("..", "data", "raw")

In [12]:
def download_progress(block_num, block_size, total_size):
    progress_size = int(block_num * block_size)
    percent = int(block_num * block_size * 100 / total_size)
    sys.stdout.write("\rDownloading... %d%%, %d MB of %d MB" %
                    (percent, progress_size / (1024 * 1024), total_size / (1024 * 1024)))
    sys.stdout.flush()


def download_from_figshare(article_id, files_to_dl, output_dir):
    url = f"https://api.figshare.com/v2/articles/{article_id}"
    response = requests.request("GET", url, headers={"Content-Type": "application/json"})
    data = json.loads(response.text)
    files = data["files"]
    for file in files:
        if file["name"] in files_to_dl:
            os.makedirs(output_dir, exist_ok=True)
            urlretrieve(file["download_url"], os.path.join(output_dir, file["name"]), download_progress)


download_from_figshare("14096681", ["data.zip"], raw_data_directory_path)

Downloading... 100%, 776 MB of 776 MB

<br/>
<br/>

**Code below is for testing only**

In [20]:
with zipfile.ZipFile(os.path.join(raw_data_directory_path, "data.zip"), "r") as zf:
    df = pd.read_csv(zf.open("BCC-CSM2-MR_daily_rainfall_NSW.csv"))

In [21]:
df

,time,lat_min,lat_max,lon_min,lon_max,rain (mm/day)
0,1889-01-01 12:00:00,-35.887649,-34.766162,141.1875,142.3125,4.265520e-17
1,1889-01-02 12:00:00,-35.887649,-34.766162,141.1875,142.3125,2.728501e-20
2,1889-01-03 12:00:00,-35.887649,-34.766162,141.1875,142.3125,5.221255e-24
3,1889-01-04 12:00:00,-35.887649,-34.766162,141.1875,142.3125,2.869350e-17
4,1889-01-05 12:00:00,-35.887649,-34.766162,141.1875,142.3125,2.290091e-15
...,...,...,...,...,...,...
3035335,2014-12-27 12:00:00,-30.280211,-29.158723,152.4375,153.5625,1.218327e+01
3035336,2014-12-28 12:00:00,-30.280211,-29.158723,152.4375,153.5625,6.209972e-01
3035337,2014-12-29 12:00:00,-30.280211,-29.158723,152.4375,153.5625,3.562820e-04
3035338,2014-12-30 12:00:00,-30.280211,-29.158723,152.4375,153.5625,4.175968e+01
3035339,2014-12-31 12:00:00,-30.280211,-29.158723,152.4375,153.5625,1.295304e-03